<h1><%= @page_title %></h1>
<p>In this enthusiastic, heartfelt, and sometimes humorous ode to bookshops and booksellers, 84 known authors pay tribute to the brick-and-mortar stores they love and often call their second homes. In "My Bookstore" our greatest authors write about the pleasure, guidance, and support that their favorite bookstores and booksellers have given them over the years. The relationship between a writer and his or her local store and staff can last for years or even decades. Often it's the author's local store that supported him during the early days of his career, that continues to introduce and hand-sell her work to new readers, and that serves as the anchor for the community in which he lives and works."My Bookstore "collects the essays, stories, odes and words of gratitude and praise for stores across the country in 84 pieces written by our most beloved authors. It's a joyful, industry-wide celebration of our bricks-and-mortar stores and a clarion call to readers everywhere at a time when the value and importance of these stores should be shouted from the rooftops.Perfectly charming line drawings by Leif Parsons illustrate each storefront and other distinguishing features of the shops.
</p>

<div class="well">

	<h3> Location Info</h3>
	<ul>
		<li>The BookStore</li>
		<li>89 Abidar Ave, Unit 2</li>
		<li>Sanandaj, Kurdistan</li>
		<li>Phone: +8735579869</li>
		<li>Email: aso85b@gmail.com</li>
	</ul>
	
</div>
